/* Colores */
:root {
    --dark: rgb(26, 26, 26);
    --dark-x: rgb(29, 29, 29);
    --orange: rgb(223, 141, 47);
    --orange-dark: rgb(196, 118, 29);
}

body {
    background-color: #c6f1fc;
}

/* Colores de fondo */
.bg-box {
    background-color: rgb(104, 177, 199);
}

.bg-iter {
    background-color: rgb(106, 199, 228);
}

.bg-iter:hover {
    background-color: rgb(0, 195, 255);
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-x {
    background-color: var(--dark-x);
}

/* ---------------- */

.login-icon {
    height: 7rem;
}

.img-text {
    height: 1rem;
}

.borde {
    border-radius: 15px;
}

.text-login {
    width: 25rem;
}

.ceckbox-text {
    font-size: 0.9rem;
}

.columna {
    grid-template-columns: 2fr;
}

.btn-login {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--orange);
    --bs-btn-border-color: var(--orange-dark);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.form_group {
    position: relative;
}

/* ------ Estilo formulario ------ */
.form-input {
    width: 385px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 40px;
    line-height: 45px;
    padding: 0 45px 0 10px;
    transition: .3s ease all;
}

.form-input:focus {
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    box-shadow: 3px 0px 30px rgb(53, 53, 53);
}

.form-input-column {
    width: 150px;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 40px;
    line-height: 45px;
    padding: 0 45px 0 10px;
    transition: .3s ease all;
}

.form-input-column:focus {
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    box-shadow: 3px 0px 30px rgb(53, 53, 53);
}

.form-control:focus {
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    box-shadow: 3px 0px 30px rgb(53, 53, 53);
}

/* --- Formulario correcto y enviado --- */
.form-enviado {
    height: 45px;
    line-height: 45px;
    background: rgb(19, 180, 19);
    display: none;
    padding: 0 15px;
    border-radius: 3px;
    width: 95%;
    font-size: 12px;
}

.form-enviado-activo {
    display: block;
}

/* --- Error al completar el formulario --- */
.formulario-error {
    height: 45px;
    background: #ff0000;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    width: 100%;
    font-size: 12px;
}

.formulario-error-activo {
    display: block;
}

/* ------ Estilo de errores y validación de formulario ------ */
.error-validado {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.error-validado-activo {
    display: block;
}

.validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.correct .validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.incorrect .label {
    color: #bb2929;
}

.incorrect .validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.incorrect .input {
    border: 3px solid #bb2929;
}

.date-form {
    width: 49%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 7px;
    height: 40px;
    line-height: 45px;
    padding: 0 45px 0 10px;
    transition: .3s ease all;
}

.date-form:focus {
    border: 3px solid rgb(0, 0, 0);
    outline: none;
    box-shadow: 3px 0px 30px rgb(53, 53, 53);
}

.new-iter-btn {
    position: absolute;
    bottom: 10%;
}

.botonera-padre {
    width: 100%;
    position: relative;
    display: none;
}

.botonera-hijo {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.menuBotones {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

.menuBotones:hover {
    color: #575757;
}

.bordeBotones {
    text-decoration: underline;
}

.newGasto {
    border-radius: 15px;
    width: 50px;
    position: absolute;
    bottom: 10%;
    right: 30%;
}

.selectionAmount {
    width: 48%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}